*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #1c1c3c;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.contact-btn, .join-btn {
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 20px;
    background: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.join-btn {
    background: linear-gradient(45deg, #b39ddb, #9575cd);
    border: none;
}

.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.icons{
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* BREAKPOINT */

@media (max-width:1024px){
    .header{
        padding: 1.3rem 1%;
    }
    
}

@media (max-width:992px){
    .icons{
        display: block;
    }
    
}

@media (max-width:768px) {
    .icons{
        display: block;
    }
}