* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1c1c3c;
  color: #ffffff;
}

/*Nav Bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo .img01 {
  height: 90px;
}
.logo .img02 {
  height: 50px;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.header-buttons{
  display: flex;
  gap: 15px;
}

/* Buttons */
.header-buttons button,
.dropdown_menu button {
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
  border: 1px solid #ffffff;
}

.join-hydra {
  background-image: linear-gradient(to right, #8379b2, #bdb4e5);
  border: none;
  color: black;
}
/* 
 toggle-button 
input {
  display: none;
  visibility: hidden;
} */

/* Toggle Button (Mobile Menu) */
.menu-checkbox{
  display: none;
}

.tog-btn {
  display: none;
  cursor: pointer;
}

input{
  display: none;
  visibility: hidden;
}
.toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50px;
  right: 50px;
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  background-color: brown;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(#bcb3e5, #887eb6);
  border-radius: 50px;
  transition: all 0.3s ease;
}



.toggle .common {
  position: absolute;
  width: 20px;
  height: 2.5px;
  background: linear-gradient(#bcb3e5, #887eb6);
  border-radius: 50px;
  transition: 0.3s ease;
  }
  
.toggle .top-line {
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
   }
    
 .toggle .middle-line {
    width: 15px;
    top: 50.5%;
    left: 60%;
    transform: translate(-50%, -50%);
    }
      
  .toggle .last-line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
        
  input:checked + .toggle .top-line {
  left: 7px;
  top: 14px;
  width: 15px;
  transform: rotate(45deg);
  transition-duration: 0.1s;
  }
  
  input:checked + .toggle .last-line {
    left: 7px;
    top: 14px;
    width: 15px;
    transform: rotate(-45deg);
    transition-duration: 0.1s;
    }
    
    input:checked + .toggle .middle-line {
      transform: translateX(-20px);
      transition-duration: 0s;
      opacity: 0;
      }
      input:checked + .dropdown_menu {
        transform: translateX(150px);
        right: 0rem;
        } */
        
        /* 
        .dropdown_menu li {
          padding: 10px 0;
          }
          .dropdown_menu a {
  text-decoration: none;
  color: #ffffff;
  } */
  
  /* .close-button {
  float: right;
  text-align: right;
  } */
  
  .dropdown_menu {
    position: absolute;
    top: 70px;
    right: -100%;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    text-align: center;
    list-style: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    padding: 15px;
  }
  
  .menu-checkbox:checked ~ .dropdown_menu.open {
    right: 10px;
    visibility: visible;
    opacity: 1;
  }
/* Responsive  */


@media (max-width: 1024px) {
  .nav-links,
  .header-buttons {
    display: none;
    /* justify-content: flex-start; */
    /* align-content: center; */
    /* font-size: 0.5rem; */
  }
  .tog-btn {
    display: flex;
  }
}

 @media (max-width:768px) {
  .dropdown_menu{
    width: 180px;
    right: 5px;
  }   
  /* .tog-btn{
       display: block;
       } */
    } 

 @media (max-width:480px) {
     .navbar{
      padding: 15px 20px;
     }   
     
     .logo img{
      height: 40px;
     }

      .toggle{
        width: 25px;
        height: 25px;
      }

        .dropdown_menu{
          width: 160px;
          right: 5px;
        }
    } 


